#login-box {
    margin-top: 5%;
  }

  #username{
    border-radius: 25px;
  }

#buttonSubmit
{
  width: 50%;
  position: relative;
  top: 10px;
}

 #login{
   padding-top: 170px;
 }

   #login-form {
    padding: 20px;
    border-bottom: 20px solid #845EC2;
    background-color: white;
    border-radius: 25px;
  }
  
  .logoPicture{
    width: 70%;
    padding-top: 20px;
    margin-left: 50%;
  }

  .headerText{
    margin-top: 7%;
    padding-right: 150px;
    width: 10%;
  }