
#translationText
{
    width:100%;
    word-break:break-all;
}

#translationInput{
    width: 50%;
    height: 60px;
    margin: 5%;

    border-radius: 25px;
    padding-left: 50px;
}

.translationInputContainer
{
    background-color: #FFC75F;
}

.translationOutputContainer
{
    background-color: white;
    margin-top: 3%;
}

.TextBorder
{
    border: 2px solid #969696;
    border-bottom: 0;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 30vh;
}

.images
{
    width: 60px;
}

#buttonSubmitTranslate
{
    margin: 10px 0 10px 10px;
    color: #969696;
    background-color: white;
    border-radius: 50px;
    width: 20%;
    align-items: center;
    justify-content: center;
}

.buttonDiv
{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    background-color: #845EC2;
}

.showSignsOutput
{
    height: 100%;
    overflow: hidden;
}